  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
      <a class="navbar-brand" href="https://localhost:3000/"><img id="MDB-logo"
          src="https://i.ibb.co/Gdx9yyz/inkpx-word-art.png" alt="MDB Logo"
          draggable="false" height="50" /></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link mx-2" href="/products"><i class="fas fa-plus-circle pe-2"></i>List phone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/profile"><i class="fas fa-bell pe-2"></i>Profiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/order"><i class="fas fa-heart pe-2"></i>Check Order</a>
          </li>

            <li class="nav-item ms-3">
              <a class="btn btn-black btn-rounded" href="/register">Register</a>
            </li>
            <li class="nav-item ms-3">
              <a class="btn btn-black btn-rounded" href="/login">Login</a>
            </li>

            <li class="nav-item ms-3">
              <a class="btn btn-black btn-rounded" href="/logout">Logout</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
